*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --c-softOrange: hsl(35, 77%, 62%);
  --c-softRed: hsl(5, 85%, 63%);
  --c-white: hsl(36, 100%, 99%);
  --c-grayishBlue: hsl(233, 8%, 79%);
  --c-darkGrayishBlue: hsl(236, 13%, 42%);
  --c-veryDarkBlue: hsl(240, 100%, 5%);
}

.main {
  max-width: 1440px;
  width: 100%;
  margin: 50px auto;
}

.main header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.main header .logo {
  max-width: 60px;
  width: 100%;
}

nav.nav .nav-items {
  display: flex;
  gap: 16px;
}

.nav-items .item {
  list-style-type: none;
  color: var(--c-darkGrayishBlue);
}

.nav-items .item:hover {
  cursor: pointer;
  color: var(--c-softRed);
}

.main .new-container {
  display: flex;
  gap: 20px;
}

.new-main .new-main-img {
  width: 100%;
}

.new-container .new-list {
  padding: 25px;
  background-color: var(--c-veryDarkBlue);
  color: var(--c-white);
  max-width: 320px;
}

.new-list .new-list-title {
  color: var(--c-softOrange);
  font-size: 35px;
  padding-bottom: 20px;
}

.new-list-item .title {
  margin-bottom: 10px;
}

.new-list-item .description {
  color: var(--c-grayishBlue);
  font-size: 15px;
}

.new-list .line {
  width: 100%;
  height: 1.5px;
  background-color: var(--c-darkGrayishBlue);
  margin: 22px 0px;
}

.new-main .new-main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  gap: 55px;
}

.new-main-info .new-main-description {
  color: var(--c-darkGrayishBlue);
  margin-bottom: 1rem;
  font-size: 18px;
}

.new-main-info .new-main-btn {
  background-color: var(--c-softRed);
  padding: 14px;
  text-transform: uppercase;
  color: var(--c-white);
  outline: none;
  border: 0;
}

.new-main-info .new-main-title {
  font-size: 64px;
  line-height: 68px;
}
.main .new-items {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.new-items .new-item {
  display: flex;
  gap: 25px;
}

.new-item .new-item-img {
  max-width: 120px;
  width: 100%;
}

.new-item .new-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.new-item-content .new-item-title {
  font-weight: 600;
  color: var(--c-grayishBlue);
  font-size: 35px;
}

.new-item .new-item-subtitle {
  color: var(--c-veryDarkBlue);
  font-size: 20px;
}

.new-item .new-item-description {
  color: var(--c-darkGrayishBlue);
  font-size: 16px;
}
